pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
checkouts/
.nrepl-port
.lein-classpath
.rbenv-version
config.ru
resources/public/js/compiled
.\#*
\#*

*-init.clj
figwheel_server.log